.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* 기본적으로 100% 너비 */
  max-width: 1440px; /* 최대 너비 설정 */
  height: 800px;
  margin: 0 auto;
  background-color: #ffffff; /* 배경색을 흰색으로 변경 */
  border-radius: 10px;
  padding: 20px;
  position: relative; /* 부모 요소에 상대 위치 지정 */
}

@media (max-width: 768px) {
  .content {
    width: 90%; /* 모바일에서는 너비를 90%로 설정 */
    height: 100%; 
  }
  .social_login_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .signin_info {
    width: 100%;
    margin-bottom: 74.5px;
  }
  .social_login_container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.social_login_container {
  margin-top: 10%;
  width: 80%; /* 너비를 줄이려면 이 값을 조정 */
  max-width: 600px; /* 최대 너비를 설정하여 너무 넓어지지 않도록 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social_login_container h3 {
  margin: 0;
  padding: 0 10px; /* 필요에 따라 패딩을 추가하여 간격 조정 */
  color: #1D1E24;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.social_login_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 0; /* 위아래 패딩을 추가하여 간격 조정 */
}
.social_login_box > div{
  display:flex;

}
.social_login_container h2 {
  display: flex;
  color: #1d1e24;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.signin_info {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 74.5px;
}

.signin_container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.signin_box {
  display: flex;
  width: 90%;
  padding: 24px;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #ebebf0;
  background: #f5f5fa;
}

.signin_container p {
  color: #1d1e24;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.submit_button_container {
  align-self: flex-end;
}

.submit_button {
  display: flex;
  width: 119px;
  height: 55px;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: #1d1e24;
}

.submit_button p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor:pointer;
}
