.input {
  text-align: center;
  margin: 2rem;
  flex-direction: column;
}

.logo{
  position: relative;
  align-items: center;
}

.logo h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  width: 50%;
  margin-left: 25%;
  vertical-align: center;
}


.logo h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  width: 50%;
  vertical-align: center;
}

#id {
  width: 300px;
  height: 30px;
}

#pw {
  width: 300px;
  height: 30px;
}

.find_id_pw {
  font-size: 10px;
  margin-top: 20px;
  color: gray;
}

.login {
  margin-top: 10px;
}

.join_member {
  margin-top: 20px;
}