.menu_icon {
  margin-top: 1%;
  margin-left: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.show_text_box {
  display: flex;
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 168px 98px 164px 98px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 168px 70px 164px 30px;
  border-radius: 16px;
  border: 1px solid #ebebf0;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.textbox {
  width: 100%;
}
.main_input_box {
  max-width: 600px;
  display: flex;
  position: relative; /* 부모 요소에 상대 위치 지정 */
  width: 100%;
  margin-top: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  padding-right: 80px; /* 버튼 공간 확보 */
  border-radius: 16px;
  border: 1px solid #ebebf0;
  background: #f5f5fa;
}

.send-button {
  position: absolute; /* 절대 위치 지정 */
  right: 10px; /* 오른쪽 정렬 */
  top: 50%; /* 수직 가운데 정렬 */
  transform: translateY(-50%); /* 수직 가운데 정렬 */
  padding: 5px 15px; /* 버튼 패딩 */
  border-radius: 8px; /* 버튼 둥근 모서리 */
  background: #dde3ff;
  border: none; /* 버튼 테두리 제거 */
  cursor: pointer; /* 커서 모양 변경 */
}

@media (max-width: 580px) {
  .show_text_box {
    display: flex;
    position: relative;
    max-width: 500px;
    width: 70%;
    padding: 168px 98px 164px 98px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 168px 70px 164px 30px;
    border-radius: 16px;
    border: 1px solid #ebebf0;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .main_input_box {
    max-width: 430px;
    display: flex;
    position: relative; /* 부모 요소에 상대 위치 지정 */
    width: 100%;
    margin-top: 20px;
  }
}
