.menu_icon {
  margin-top: 1%;
  margin-left: 1%;
}

.show_text_box {
  margin: 20px;
  display: flex;
  width: auto;
  height: 600px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 2px 10px;
}

.text {
  font-size: 25px;
  margin: 10px;
  font-style: normal;
}

.input_box {
  background-color: #dde3ff;
  margin: 30px;
  display: flex;
  width: auto;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  flex-direction: row;
}
.send-button {
  justify-self: flex-end;
}
.input {
  width: 90%;
  border-color: transparent;
  background-color: #dde3ff;
}

.input input:hover,
.input input:active {
  border-width: 1;
}
